.footer{
	max-width: 100vw;
	height: 3rem;
	padding: 16px;
	bottom: 0;
	background-color: #0072be;
	color: aliceblue;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content:space-between;
	align-items: center;






	>a{
		margin: 16px;
		color: aliceblue;
		text-decoration:none;
		font-size: 1.4rem;
	}


	>ul{
		justify-content:space-between;
	}
}

@media(max-width:852px) {
	.footer{
		font-size:0.8rem;
		>a{
				font-size:1.2rem;
		}
	}
}

@media(max-width:742px){
	.footer{
		font-size:0.65rem;
		>a{
				font-size:1rem;
		}
		>ul{
			justify-content: space-around;
		}
	}
}

@media(max-width:690px){
	.footer{
		justify-content: center;
		font-size:0.65rem;
		>a{
				display: none;
		}
	}
}

.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	>div{
		margin: 1rem;
	}
}
