.index_create{
	max-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: aliceblue;

	>h1{
	text-align: center;

}
 >img{
	text-align: center;
	width: 40rem;

 }
}

@media screen and (max-width:1080px){

	img{width:30rem;}

}

@media screen and (max-width:512px){

	img{width:25rem;}

}

.poem{
	display: flex;
	justify-content: center;
}

.next_prev{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-top: 1px solid aliceblue;
	margin-top: 1rem;
	>span{
		font-size: 1.5rem;
		margin: 1rem;
	}
}
