.Note{
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: aliceblue;
	margin: 1.5rem;
	margin-top: 8rem;
	text-align: left;
	>article>ol>li{
		margin: 1rem;
	}
	>ul>li{
		margin: 1.5rem;
	}

}

.note_main{
	max-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.note_title{
	height: 5rem;
	font-size: 3rem;
	margin-top: 8rem;
	>a{
		text-decoration: none;
		color:aliceblue;
		border-bottom: 1px solid aliceblue;
		padding: 0.5rem;
	}
}

.note_article{
	height: 10rem;
	color: aliceblue;
	font-size: 1.5rem;
	>ul>li{
		margin: 1rem;
	}
	>p{
		margin:1rem;
	}
}


// 面試問題區

.review{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	color: aliceblue;
	margin-top: 8rem;
}

.review_css{
	font-family: 'Roboto', sans-serif;
	color: aliceblue;
	>h2{
		margin: 1rem;
		text-align: left;
	}
	>li{
		margin: 1rem;
	}
}
