@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #2980B9;
  background: -webkit-gradient(linear, left top, right top, from(#b5ecff), color-stop(#6DD5FA), to(#2980B9));
  background: linear-gradient(to right, #b5ecff, #6DD5FA, #2980B9);
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 3rem;
}

h2 {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.navbar_center {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 90vw;
  height: 40px;
  padding: 24px;
  border-bottom: 1px solid;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
}

.navbar > a {
  text-decoration: none;
  color: aliceblue;
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar_list > li {
  display: inline-block;
  margin: 16px;
}

.navbar_list > li > a {
  color: aliceblue;
  text-decoration: none;
}

.index_main {
  max-width: 100vw;
  height: 100vh;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.8rem;
  margin: 0.8rem;
}

.introduce {
  text-align: left;
}

.introduce > h1, .introduce h2 {
  margin: 1.5rem 0;
}

.introduce > p {
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 835px) {
  .introduce {
    text-align: center;
  }
  .introduce > p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .introduce > span {
    font-size: 1rem;
  }
}

.eating {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid aliceblue;
}

.icon_eating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 835px) {
  .icon_eating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icon > span {
  font-size: 2.4rem;
  margin: 0 0.8rem;
}

.icon > span > a {
  color: aliceblue;
  text-decoration: none;
}

.skill_Fortend {
  width: 20rem;
  margin: 1rem 0 0rem 0;
  background-color: #024a6b;
}

.skill_Fortend > span {
  background-color: #00aeff;
}

.skill_Fortend > span a:hover {
  background-color: aquamarine;
}

.skill_Design {
  margin: 0rem 0 2rem 0;
}

.main_buttonEnter {
  display: block;
  background-color: initial;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #00aeff;
  color: #00aeff;
  font-size: 18px;
  letter-spacing: 4px;
  overflow: hidden;
  width: 150px;
  height: 20px;
  padding: 10px 30px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.main_buttonEnter > span {
  position: relative;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  z-index: 1;
}

.main_buttonEnter:hover span,
.main_buttonEnter:focus span,
.main_buttonEnter:active span {
  color: aliceblue;
}

.main_buttonEnter_wave:before {
  -webkit-animation: wave 0.5s linear infinite;
          animation: wave 0.5s linear infinite;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fire-fotos-8e3f9.appspot.com/o/img%2Fbtn-wave.png?alt=media&token=267962fb-78ee-4fcb-a559-034579dc675d");
  background-size: contain;
  content: '';
  height: 22px;
  left: 0;
  position: absolute;
  top: -22px;
  width: 100%;
}

.main_buttonEnter_wave {
  background-color: #00aeff;
  height: 100%;
  left: 0;
  position: absolute;
  top: calc(100% + 22px);
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
  width: 100%;
}

.main_buttonEnter:hover .main_buttonEnter_wave,
.main_buttonEnter:focus .main_buttonEnter_wave,
.main_buttonEnter:active .main_buttonEnter_wave {
  top: 0;
}

@-webkit-keyframes wave {
  to {
    background-position-x: 118px;
  }
}

@keyframes wave {
  to {
    background-position-x: 118px;
  }
}

:root {
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.Portfolio {
  max-width: 100vw;
  max-height: 100vh;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

.Portfolio > h1 {
  width: 100%;
  text-align: center;
}

.hero-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  -webkit-filter: brightness(0.75) saturate(1.2) contrast(0.85);
          filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-filter 200ms linear, -webkit-transform 200ms linear;
  transition: -webkit-filter 200ms linear, -webkit-transform 200ms linear;
  transition: filter 200ms linear, transform 200ms linear;
  transition: filter 200ms linear, transform 200ms linear, -webkit-filter 200ms linear, -webkit-transform 200ms linear;
}

.card:hover .card__background {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  -webkit-filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
          filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.index_create {
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: aliceblue;
}

.index_create > h1 {
  text-align: center;
}

.index_create > img {
  text-align: center;
  width: 40rem;
}

@media screen and (max-width: 1080px) {
  img {
    width: 30rem;
  }
}

@media screen and (max-width: 512px) {
  img {
    width: 25rem;
  }
}

.poem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next_prev {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid aliceblue;
  margin-top: 1rem;
}

.next_prev > span {
  font-size: 1.5rem;
  margin: 1rem;
}

.footer {
  max-width: 100vw;
  height: 3rem;
  padding: 16px;
  bottom: 0;
  background-color: #0072be;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > a {
  margin: 16px;
  color: aliceblue;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer > ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.info > div {
  margin: 1rem;
}

.Note {
  font-size: 24px;
}

.note_main {
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note_title {
  height: 5rem;
  font-size: 3rem;
  margin-top: 8rem;
}

.note_title > a {
  text-decoration: none;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
  padding: 0.5rem;
}

.note_article {
  height: 10rem;
  color: aliceblue;
  font-size: 1.5rem;
}

.note_article > ul > li {
  margin: 1rem;
}

.note_article > p {
  margin: 1rem;
}
/*# sourceMappingURL=style.css.map */